#timeline{
    position: fixed;
    width: 100%;
    height: 100%;
    left:30px;
    top: 180px;

}
#textout{
    width:35px;
    float: left;
    height: 100%;
    margin-left: 20px;
    padding-top:10px;
    cursor:pointer;
}
#lineout{
    width:4px;
    height: 100%;
    float: left;
    margin-left: 5px;

}
.line{
    width: 4px;
    height: 50px;
    background: #ccc;

}
.text{
    width: 35px;
    height: 50px;
}
#picture{
    width: 1000px;
    height: 500px;
    margin-top: 50px;
    margin-left:auto ;
    margin-right:auto;

}